#!/bin/bash  


## PYTHON DEV #{{{
  #alias manage='python $VIRTUAL_ENV/manage.py'
  alias manage='python manage.py'
  alias webpython='python2 -m SimpleHTTPServer'
  alias rmpyc='find . -name __pycache__ -delete -or -iname *.py[co] -delete'
  alias runtests='python -m unittest discover'
#}}}

## FIX THINGS #{{{
  alias fixvbox='sudo modprobe vboxdrv && sudo modprobe vboxnetflt'
  alias fixkeyboard='sudo setxkbmap -model abnt2 -layout br -variant abnt2'
  alias fixsubl3='python /home/$USER/Desenvolvimento/fix-sublime/add-material-to-subl3.py'
#}}}

## DO THINGS #{{{
  alias formatpen='sudo mkfs.vfat -n "PENDRIVE" -I'
  alias shot='maim -s'
  alias startvpn='start openvpn@`hostname`'
  alias stopvpn='stop openvpn@`hostname`'
  if which youtube-dl &>/dev/null; then
    alias downmp3='youtube-dl --extract-audio --audio-format mp3'
  fi
  # Add an "alert" alias for long running commands.  Use like so:
  # sleep 10; alert
  alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'
#}}}

## PACMAN #{{{
  alias sysup='sudo pacman -Syu && yaourt -Syyuua --noconfirm'
  alias clearcache='sudo pacman -Scc --noconfirm && sudo journalctl --vacuum-time=2d && rm -rf ~/.local/share/Trash/files'
#}}}

## NVIDIA #{{{
  alias turnon='sudo tee /proc/acpi/bbswitch <<<ON'
  alias turnoff='sudo tee /proc/acpi/bbswitch <<<OFF'
  alias placastatus='cat /proc/acpi/bbswitch'
  alias gcnvidia='primusrun /usr/bin/google-chrome-stable %U'
  #alias nvidia-settings='optirun -b none nvidia-settings -c :8'
#}}}

## DOCKER #{{{
  # Remove all docker images that are in exited status.
  alias drm='if [[ -n $(docker ps -aq -f status=exited) ]]; then docker rm $(docker ps -aq -f status=exited); fi'
  alias drmi='docker rmi $(docker images -f "dangling=true" -q)'
  alias dstop='docker stop $(docker ps -a -q)'
  alias drmv='docker volume ls -qf dangling=true | xargs -r docker volume rm'
  alias rmvolumes='cat volumes | while read LINE; do docker volume rm ${LINE}; done'
  # Containers
  # alias node='docker run -it -v nodemodules:/install -v $(pwd):/app delete21/node-app node'
  # alias getbook='node /home/delete/Desenvolvimento/grab_packt/server.js'
#}}}

## NODE #{{{}
  # Remove all node_modules directory
  alias rmnode='find . -name "node_modules" -type d -exec rm -rf '{}' +'
#}}}
